<!DOCTYPE html>
<html>

<head>

<title>Add Employee</title>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="login-card">

<h1>Add Employee</h1>

<form method="post">

<input

type="text"

name="name"

placeholder="Employee Name"

required

>

<input

type="email"

name="email"

placeholder="Email"

required

>

<input

type="text"

name="ssn"

placeholder="SSN"

required

>

<input

type="text"

name="salary"

placeholder="Salary"

required

>

<button>

Save Employee

</button>

</form>

<br>

<a href="/dashboard">

← Back

</a>

</div>

</body>

</html>